* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    body {
        font-family: 'Roboto', sans-serif;
    }


  .top-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: transparent; 
    position: fixed; 
    top: 0; 
    transition: background-color 0.3s; 
    z-index: 100; 
}


.top-bar img {
    float: left;
    margin-left: 40px;
    width: 100px;
    animation: move 1.6s linear infinite;
}

.search-container {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.top-bar ul {
    flex: 2; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.top-bar li {
    padding: 0 15px;
}

.top-bar a {
    color: white;
    text-decoration: none;
    font-size: 23px;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    margin-right: 10px; 


.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0; 
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
    
}


.toggle-checkbox:checked ~ .sidebar {
    width: 250px; 

}

.sidebar a {
    padding: 30px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    color: white; 
}

header {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    min-height: 300px; 
}

.search-container {
    position: relative;
    margin-top: 10px; 
    max-width: 300px; 
    margin-left: auto;
    margin-right: auto;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray; 
    background-color: transparent;
}



.search-container input::placeholder {
    color: gray;
}


.top-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: #444444;
}

.top-bar img {
    float: left;
    margin-left: 40px;
    width: 100px;
    animation: move 1.6s linear infinite;
}

.search-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar ul {
    flex: 2;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.top-bar li {
    padding: 0 15px;
}

.top-bar a {
    color: white;
    text-decoration: none;
    font-size: large;
}

.w {
    width: 1200px;
    margin: 0 auto;
}
.banner {
    width: 100%;
    height: 520px;
}

.banner img {
    display: block;
    width: 100%;
    height: 520px;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    margin-right: 10px; 
}


.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
}

.toggle-checkbox:checked ~ .sidebar {
    width: 250px; 

}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

header {
    background-image: url('./img/home page.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    min-height: 300px; 
}

.search-container {
    position: relative;
    margin-top: 10px; 
    max-width: 300px; 
    margin-left: auto;
    margin-right: auto;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray; 
    background-color: transparent;
}



.search-container input::placeholder {
    color: gray;
}
nav {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background: #fff; 
    z-index: 1000; 
    
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none; 
    text-align: center; 
  }
  
  ul li {
    display: inline-block; 
    margin-right: 20px; 
  }
  

.hero-section {
    background-image: url('./img/liongrp.jpg'); 
    background-size: cover;
    padding: 150px;
    color: white;
    text-align: center;
    font-family: 'Consolas', 'Courier New', monospace; 
    font-size: 30px; 
}

.content {
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    font-family: 'Helvetica', sans-serif; 
    line-height: 1.6; 
    color: #333; 
}

.content p {
    margin-bottom: 25px; 
}

.content img {
    width: 60%; 
    margin-left: 0; 
    height: auto; 
    object-fit: cover; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}


@media (max-width: 768px) {
    .content {
        width: 95%;
        padding: 25px;
    }

    .content img {
        width: 100%; 
        margin-left: 0; 
    }
}


.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-title {
    font-family: 'Consolas', 'Courier New', monospace; 
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 20px; 
    font-size: 30px; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.site-footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    font-family: Arial, sans-serif; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1; 
    min-width: 200px; 
    padding: 0 10px;
}

.footer-column h3 {
    margin-bottom: 15px;
}

.footer-column p,
.footer-column a {
    line-height: 1.6;
    color: #fff;
    text-decoration: none;
    display: block;
}

.footer-social-media {
    text-align: center;
    margin: 20px 0;
}

.footer-social-media a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 24px;
}

.footer-social-media a:last-child {
    margin-right: 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.social-media-section {
    text-align: center; 
  }
  
  .social-media-section h3 {
    margin-bottom: 10px;
  }
  
  .social-media-section a {
    margin: 0 5px;
    display: inline-block; 
  }
  
  .social-media-section img {
    width: 24px;
    height: auto; 
  }
  


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column,
    .footer-social-media {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
